<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="/css/StyleP.css">


</head>
<body>
    <a href="/Home/HomePage"><div id="logo"></div></a>
    <a href="/Home/HomePage"><div id="logo-shadow"></div></a>

    <div id="fixNav">
        <nav>
            @*<img src="~/images/logo.png" alt="logo">*@
            @if (!String.IsNullOrEmpty(Context.Request.Cookies["Nickname"])) // si la valeur du cookie Nickname n'est pas vide
            {
                <span> <strong>Bonjour @Context.Request.Cookies["Nickname"]</strong></span>
                // on affiche le message Bonjour suivi de la valeur de Cookie nickname
            }
            <button type="button">@Html.ActionLink("Home", "IndexPartner", "Login")</button>

            <button type="submit">@Html.ActionLink("Logout", "Deconnection", "Login")</button>
        </nav>
    </div>

    <div id="main">
        <div id="menu">
            <p><b>Add a service</b></p>

            @Html.ActionLink("Create accomodation", "CreateAccomodation","Partner")
            <br />
            @Html.ActionLink("Create restaurant", "CreateRestaurant","Partner")
            <br />
            @Html.ActionLink("Create transportation", "CreateTransportation","Partner")
            <br />
            <br />

            <p><b>Manage my services</b></p>

            @Html.ActionLink("List of accomodations", "ListeAccomodation", "Partner")
            <br />
            @Html.ActionLink("List of restaurants", "ListeRestaurant", "Partner")
            <br />
            @Html.ActionLink("List of transportation", "ListeTransportation", "Partner")
        </div>

        <div id="contenu">
            @RenderBody()
        </div>
    </div>

    <div id="footer">
        &copy; @DateTime.Now.Year - The only travel agendy dedicated to influencers
    </div>
    @RenderSection("ExtraScripts", required: false)
</body>
</html><