@using TripMeOn.Models.Products;
@using TripMeOn.Helper;

<!DOCTYPE html>
<html>

<head>
    <meta name="TRIPMEONheader" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/Admin.css" rel="stylesheet" />

    @RenderSection("ExtraCss", required: false)

</head>
<body>
    <div id="main">
        <div id="menu">
            ADMIN HOMEPAGE<br />
            <hr size="1" width="50%" color="black">
            <div class="tabs">
                <span>Partners</span>
                <span>Clients</span>>

                @Html.ActionLink("Manage accounts","ManageAccounts","Employee")
                <br />
                @Html.ActionLink("Refund requests", "RefundRequest", "Employee")
                <br />
                @Html.ActionLink("Add new employee", "AddEmployeeForm")
                <br />
                @Html.ActionLink("Packages", "PackageList", "Product")
                <br />
                @Html.ActionLink("Notifications", "Notifications", "Employee")
                <div id="logout">
                    <button type="submit">@Html.ActionLink("Logout", "Deconnection", "Login")</button>
                </div>
            </div>
        </div>
        <div id="mainContent">
            <div id="mainContentTop">
                <div class=pageTitle>
                    WELCOME
                    @if (!String.IsNullOrEmpty(Context.Request.Cookies["Nickname"])) // si la valeur du cookie Nickname n'est pas vide
                    {
                        <span> <strong>Bonjour @Context.Request.Cookies["Nickname"]</strong></span>
                        // on affiche le message Bonjour suivi de la valeur de Cookie nickname
                    }
                    <div id="barre">
                    </div>
                </div>
                <div id="actionRequiredBlock">
                    Action required<br />
                    <div id="actionRequiredContainer">
                        <div id="actionRequiredContent">
                            Nothing to show here
                        </div>
                    </div>
                </div>
            </div>
        </div>
      
        @RenderBody()

      <footer>

            <div class="footer-buttons">
                <a href="/Content/InstaTips" class="footer-button">#Insta-tips</a>
                <a href="/Content/AboutUs" class="footer-button">About Us</a>
                <a href="#" class="footer-button">Become a Partner</a>
            </div>
            <!-- Social icons -->
            <div class="social-icons">
                <a href="https://twitter.com"><i class="fab fa-twitter"></i></a>
                <a href="https://facebook.com"><i class="fab fa-facebook"></i></a>
                <a href="https://instagram.com"><i class="fab fa-instagram"></i></a>
                <a href="https://www.tiktok.com"><i class="fab fa-tiktok"></i></a>
                <a href="https://youtube.com"><i class="fab fa-youtube"></i></a>
            </div>
        </footer>

        <script src="bootstrap.js"></script>
        <script type="text/javascript" src="~/Scripts/jquery-3.3.1.js"></script>
        <script type="text/javascript" src="~/Scripts/jquery.validate-vsdoc.js"></script>
        <script type="text/javascript" src="~/Scripts/jquery.validate.unobtrusive.js"></script>
        @RenderSection("ExtraScript",required:false)

    </div>
</body>
</html>