<!DOCTYPE html>
<html>

<head>
    <meta name="TRIPMEONheader" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/StyleP.css" rel="stylesheet" />
    @RenderSection("ExtraCss", required: false)
</head>
<body>
    <div id="header">
        <h1>Header</h1>
    </div>

    <div id="main">
        <div id="menu">
            @RenderSection("Menu", required: false)
        </div>

        <div id="mainContent">
            @RenderBody()
        </div>
    </div>

@* on s'en balec du footer for now ------------------
    
    <div id="footer">
        &copy; @DateTime.Now.Year - Super site de tutoriels, contactez moi sur monmail@supersitetutoriels.com
    </div>
    @RenderSection("ExtraScripts", required: false)*@
</body>
</html>