<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/StyleP.css">

    @RenderSection("ExtraCss", required: false)
</head>

<body>
    <a href="/Home/HomePage"><div id="logo"></div></a>
    <a href="/Home/HomePage"><div id="logo-shadow"></div></a>

    
        <div id="menu">
        <div id="menu-container">
            <div id="tabs">
            <p><b>Add a service</b></p>         
            @Html.ActionLink("Create accomodation", "CreateAccomodation", "Partner")
            <br />
            @Html.ActionLink("Create restaurant", "CreateRestaurant", "Partner")
            <br />
            @Html.ActionLink("Create transportation", "CreateTransportation", "Partner")
            <br />
            <br />

            <p><b>Manage my services</b></p>

            @Html.ActionLink("List of accomodations", "ListeAccomodation", "Partner")
            <br />
            @Html.ActionLink("List of restaurants", "ListeRestaurant", "Partner")
            <br />
            @Html.ActionLink("List of transportation", "ListeTransportation", "Partner")
        </div>
        </div>
    </div>
    <div id="fixNav">
        <nav>
            <div class=pageTitle>
                WELCOME
                @*<img src="~/images/logo.png" alt="logo">*@
                @if (!String.IsNullOrEmpty(Context.Request.Cookies["Nickname"])) // si la valeur du cookie Nickname n'est pas vide
                {
                    <span> <strong>Bonjour @Context.Request.Cookies["Nickname"]</strong></span>
                    // on affiche le message Bonjour suivi de la valeur de Cookie nickname
                }
                <div class="pageTitle">
                    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("IndexPartner", "Login")'">Home</button>
                    <button type="submit" class="btn btn-secondary">@Html.ActionLink("Logout", "Deconnection", "Login")</button>
                </div>
            </div>
        </nav>

        <div id="content">
            @RenderBody()
        </div>
    </div>

    <div id="footer">
        &copy; @DateTime.Now.Year - The only travel agency dedicated to influencers
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate-vsdoc.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate.unobtrusive.js"></script>

    @RenderSection("ExtraScript", required: false)
</body>
</html>
