@model TripMeOn.ViewModels.ClientViewModel
@{
    ViewBag.Title = "AddClientForm";
    Layout = "~/Views/Shared/_LayoutContent.cshtml";
}

@section ExtraCss{
    <link rel="stylesheet" href="/css/PartnerForm.css">
}

@using (Html.BeginForm("SubmitClientForm", "Client", FormMethod.Post))
{
    <div class="form-container">
        <fieldset>
            <legend>Sign Up Form</legend>
            <div class="form-group">
                @Html.LabelFor(model => model.LastName)
                @Html.TextBoxFor(model => model.LastName, new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.FirstName)
                @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Nickname)
                @Html.TextBoxFor(model => model.Nickname, new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Email)
                @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Password)
                @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Address)
                @Html.TextBoxFor(model => model.Address, new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PhoneNumber)
                @Html.TextBoxFor(model => model.PhoneNumber, new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ClientType)
                @Html.TextBoxFor(model => model.ClientType, new { @class = "form-control" })
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </fieldset>
    </div>

}
@section ExtraScript{
    <script type="text/javascript" src="~/Scripts/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate-vsdoc.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate.unobtrusive.js"></script>
}



