@using TripMeOn.ViewModels
@model ClientViewModel

@{
    ViewBag.Title = "LoginClient";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section ExtraCss{
    <link rel="stylesheet" href="/css/HomePage.css">
}

    <div class="login">


        @if (Model.AuthentifyC)
        {
    

            <h3>
                Vous êtes déjà authentifié avec le login :
                @Model.Client.Nickname
            </h3>
            @Html.ActionLink("Voulez-vous vous déconnecter ?", "Deconnexion")
        }
        else
        {
            <p>
                Veuillez vous authentifier :
            </p>
            using (Html.BeginForm("Index", "Login", FormMethod.Post))
            {

                <div>
                    @Html.LabelFor(m => m.Client.Nickname)
                    @Html.TextBoxFor(m => m.Client.Nickname)
                    @Html.ValidationMessageFor(m => m.Client.Nickname)
                </div>
                <div>
                    @Html.LabelFor(m => m.Client.Password)
                    @Html.PasswordFor(m => m.Client.Password)
                    @Html.ValidationMessageFor(m => m.Client.Password)
                </div>
                <input type="submit" value="Log in" />
                <br />
                @Html.ActionLink("Créer un compte", "CreerCompte")
            }
        }
    </div>