@model TripMeOn.Models.Products.TourPackage

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section ExtraCss{

    <link rel="stylesheet" href="/css/PDetails.css">
}
<div class="flex-container">
<div class="floating-box">
    <div class="background-photo"></div>
    <div class="overlay">
        <h2>@Model.Name</h2>
        <p>@Model.Description</p>
        <p>Country: @Model.Destination.Country</p>
        <p>Theme: @Model.Theme.Name</p>
        <p>Region: @Model.Destination.Region</p>
        <p>City: @Model.Destination.City</p>
        <p>Price: @Model.Price</p>
        <p>Description of the tour package goes here...</p>
        <form action="/Cart/BuyProduct" method="post">
            <input type="hidden" name="tourPackageId" value="@Model.Id" />
            <label for="quantity">Quantity:</label>
            <input type="number" name="quantity" id="quantity" value="1" min="1" />
            <button type="submit">Add to Cart</button>
        </form>
    </div>
    </div>
</div>    

    
 @section ExtraScript{
<script>
    function addToCart(packageId) {
        // Logic to add the tour package to the cart
        // You can use JavaScript or make an AJAX request to your backend
        // to handle the add to cart functionality
        alert('Tour package added to cart: ' + packageId);
    }
</script>
 }