@model TripMeOn.ViewModels.NavigationViewModel
@{
    ViewBag.Title = "LoginClient";
    Layout = "~/Views/Shared/_LayoutContent.cshtml";
}
@section ExtraCss{
    <link rel="stylesheet" href="/css/HomePage.css">
}

<div class="login">
    @if (Model.AuthentifyP)
    {
        <div>
            <h3>
                You are already log in :
                @Model.Partner.Nickname
            </h3>
            <p>
                @Html.ActionLink("Would you like to disconnect?", "Deconnection", "Login")
            </p>
        </div>
    }
    else
    {
        <div>
            <p>LOG IN PARTNER</p>
            <p>Please log in :</p>

            @if (!ViewData.ModelState.IsValid)
            {
                <div class="alert alert-danger">
                    @ViewData.ModelState[""].Errors.First().ErrorMessage
                </div>
            }

            @using (Html.BeginForm("IndexPartner", "Login", FormMethod.Post))
            {
                <div>
                    @Html.LabelFor(m => m.Partner.Nickname)
                    @Html.TextBoxFor(m => m.Partner.Nickname)
                    @Html.ValidationMessageFor(m => m.Partner.Nickname)
                </div>
                <div>
                    @Html.LabelFor(m => m.Partner.Password)
                    @Html.PasswordFor(m => m.Partner.Password)
                    @Html.ValidationMessageFor(m => m.Partner.Password)
                </div>
                <div>
                    <input type="submit" value="Log in" />
                </div>
            }
        </div>
    }
</div>
