@model TripMeOn.ViewModels.NavigationViewModel
@{
    ViewBag.Title = "LoginClient";
    Layout = "~/Views/Shared/_LayoutContent.cshtml";
}

<div class="login">


    @if (Model.AuthentifyC)
    {

        <h3>
            You are already log in :
            @Model.Client.Nickname
        </h3>

        @Html.ActionLink("Would you like to logout?", "Deconnection", "Login")



        <p>
            @Html.ActionLink("Check Order Status", "OrderStatus", "Cart")
        </p>
    }
    else
    {
        <p class="Title">LOG IN CLIENT</p>
        <p>Please log in :</p>


        @using (Html.BeginForm("IndexClient", "Login", FormMethod.Post))

        {

            <div>
                @Html.LabelFor(m => m.Client.Nickname)
                @Html.TextBoxFor(m => m.Client.Nickname)
                @Html.ValidationMessageFor(m => m.Client.Nickname)
            </div>
            <div>
                @Html.LabelFor(m => m.Client.Password)
                @Html.PasswordFor(m => m.Client.Password)
                @Html.ValidationMessageFor(m => m.Client.Password)
            </div>
            <input type="submit" value="Log in" />
            <br />
        }

        <div class="create-account-container">
            <span class="create-account">@Html.ActionLink("create account", "ClientForm", "Client")</span>
        </div>

    }

</div>

