@model TripMeOn.ViewModels.NavigationViewModel
@{
    ViewBag.Title = "LoginClient";
    Layout = "~/Views/Shared/_LayoutContent.cshtml";
}

@section ExtraCss{
    <link rel="stylesheet" href="/css/login.css">
}

<table class="login">
    @if (Model.AuthentifyP)
    {
        <tr>
            <td colspan="2" class="text-center">
                <div>
                    <h3>
                        You are already log in :
                        @Model.Partner.Nickname
                    </h3>
                    <p>
                        @Html.ActionLink("Would you like to disconnect?", "Deconnection", "Login")
                    </p>
                </div>
            </td>
        </tr>
    }
    else
    {
        <tr>
            <td colspan="2">
                <div>
                    <p class="Title">LOG IN PARTNER</p>
                    <p>Please log in :</p>

                    @if (!ViewData.ModelState.IsValid)
                    {
                        <div class="alert alert-danger">
                            @ViewData.ModelState[""].Errors.First().ErrorMessage
                        </div>
                    }

                    @using (Html.BeginForm("IndexPartner", "Login", FormMethod.Post))
                    {
                        <table>
                            <tr>
                                <td>
                                    @Html.LabelFor(m => m.Partner.Nickname)
                                </td>
                                <td>
                                    @Html.TextBoxFor(m => m.Partner.Nickname)
                                    @Html.ValidationMessageFor(m => m.Partner.Nickname)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.LabelFor(m => m.Partner.Password)
                                </td>
                                <td>
                                    @Html.PasswordFor(m => m.Partner.Password)
                                    @Html.ValidationMessageFor(m => m.Partner.Password)
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" class="text-center">
                                    <input type="submit" value="Log in" />
                                </td>
                            </tr>
                        </table>
                    }

                    <div id="create-account-container">
                        <span id="create-account">@Html.ActionLink("create account", "PartnerForm", "Partner")</span>
                    </div>
                </div>
            </td>
        </tr>
    }
</table>

