@model TripMeOn.ViewModels.NavigationViewModel
@{
    ViewBag.Title = "LoginClient";
    Layout = "~/Views/Shared/_LayoutContent.cshtml";
}
@section ExtraCss{
    <link rel="stylesheet" href="/css/login.css">
}

<table class="login">
    @if (Model.AuthentifyE)
    {
        <tr>
            <td colspan="2">
                <h3>
                    You are already log in : commit -
                    @Model.Employee.Nickname
                </h3>
                @Html.ActionLink("Would you like to disconnect?", "Deconnection", "Login")
            </td>
        </tr>
    }
    else
    {

        <tr>
            <td colspan="2" class="text-center">
                <p class="Title">LOG IN ADMIN</p>
                <p>Please log in :</p>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                @using (Html.BeginForm("IndexAdmin", "Login", FormMethod.Post))
                {
                    <table>
                        <tr>
                            <td>
                                @Html.LabelFor(m => m.Employee.Nickname)
                            </td>
                            <td>
                                @Html.TextBoxFor(m => m.Employee.Nickname)
                                @Html.ValidationMessageFor(m => m.Employee.Nickname)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.LabelFor(m => m.Employee.Password)
                            </td>
                            <td>
                                @Html.PasswordFor(m => m.Employee.Password)
                                @Html.ValidationMessageFor(m => m.Employee.Password)
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" class="text-center">
                                <input type="submit" value="Log in" />
                                <br />
                            </td>
                        </tr>
                    </table>
                }
            </td>
        </tr>
        @*      <tr>
    <td colspan="2" id="forgot-pwd-container">
    @*<span id="forgot-pwd">Forgot password ?</span>
    </td>
    </tr>*@
    }
</table>