@model TripMeOn.ViewModels.NavigationViewModel
@{
    ViewBag.Title = "LoginClient";
    Layout = "~/Views/Shared/_LayoutContent.cshtml";
}


<div class="login">


    @if (Model.AuthentifyE)
    {

        <h3>
            You are already log in : commit 
            @Model.Employee.Nickname
        </h3>
        @Html.ActionLink("Would you like to disconnect?", "Deconnection", "Login")
    }
    else
    {
        <p class="Title">LOG IN ADMIN</p>
        <p>Please log in :</p>
        using (Html.BeginForm("IndexAdmin", "Login", FormMethod.Post))
        {

            <div>
                @Html.LabelFor(m => m.Employee.Nickname)
                @Html.TextBoxFor(m => m.Employee.Nickname)
                @Html.ValidationMessageFor(m => m.Employee.Nickname)
            </div>
            <div>
                @Html.LabelFor(m => m.Employee.Password)
                @Html.PasswordFor(m => m.Employee.Password)
                @Html.ValidationMessageFor(m => m.Employee.Password)
            </div>
            <input type="submit" value="Log in" />
            <br />
        }

        <div id="forgot-pwd-container"><span id="forgot-pwd">Forgot password ?</span></div>
    }
</div>