@using TripMeOn.ViewModels
@using TripMeOn.Models.Products;
@using TripMeOn.Helper;
@model NavigationViewModel


@{
    ViewBag.Title = "Home_Page";
    Layout = null;
}
@section ExtraCss{
    <link rel="stylesheet" href="/css/HomePage.css">
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/HomePage.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <a href="/Home/HomePage"><div id="logo"></div></a>
    <a href="/Home/HomePage"><div id="logo-shadow"></div></a>

    <!-- Bootstrap Navigation Bar code goes here -->
    <div id="navbar">
        <ul id="menu">
            <li class="parent">
                <a href="/Home/HomePage">Home</a>
            </li>

            <!--   --------------------------DESTINATION--------------------------------------   -->

            <li class="parent">
                <a href="#">Destinations<span class="expand"></span></a>
                <ul class="child">
                    <li>@Html.ActionLink("France", "SearchPackage", "Product", new { country = "France" })</li>
                    <li>@Html.ActionLink("The UK", "SearchPackage", "Product", new { country = "The UK" })</li>
                    <li>@Html.ActionLink("Netherlands", "SearchPackage", "Product", new { country = "Netherlands" })</li>
                    <li>@Html.ActionLink("Turkey", "SearchPackage", "Product", new { country = "Turkey" })</li>
                    <li>@Html.ActionLink("Argentina", "SearchPackage", "Product", new { country = "Argentina" })</li>
                    <li>@Html.ActionLink("Belgium", "SearchPackage", "Product", new { country = "Belgium" })</li>
                    <li>@Html.ActionLink("Spain", "SearchPackage", "Product", new { country = "Spain" })</li>
                </ul>
            </li>

            <!--   ----------------------------THEMES------------------------------------   -->

            <li class="parent">
                <a href="#">Themes<span class="expand"></span></a>
                <ul class="child">
                    <li>@Html.ActionLink("Trekking", "SearchPackage", "Product", new { theme = 1 }, null)</li>
                    <li>@Html.ActionLink("Floral", "SearchPackage", "Product", new { theme = 2 }, null)</li>
                    <li>@Html.ActionLink("Cultural", "SearchPackage", "Product", new { theme=3 })</li>
                    <li>@Html.ActionLink("Heritage", "SearchPackage", "Product", new { theme=4 })</li>
                    <li>@Html.ActionLink("Snap and relax", "SearchPackage", "Product", new { theme=5 })</li>
                    <li>@Html.ActionLink("InstaSpots", "SearchPackage", "Product", new {theme=6 })</li>
                    <li>@Html.ActionLink("Xtreme Adventure", "SearchPackage", "Product", new { theme=7 })</li>
                    <li>@Html.ActionLink("Colors", "SearchPackage", "Product", new { theme=10 })</li>
                </ul>
            </li>

            <!--   ----------------------ACCOMMODATIONS--------------------------------   -->

            <li class="parent">
                <a href="#">Services<span class="expand"></span></a>
                <ul class="child">
                    <li>@Html.ActionLink("Restaurants", "SearchPackage", "Partner", new{serviceType = "Restaurant"})</li>
                    <li>@Html.ActionLink("Accomodation", "SearchPackage", "Partner", new{serviceType = "Accomodation"})</li>
                    <li>@Html.ActionLink("Transportation", "SearchPackage", "Partner", new{serviceType = "Transport"})</li>
                </ul>
            </li>

            <!--   ---------------------------LOG IN----------------------------------   -->

            <li class="parent">
                <a href="#">Log in<span class="expand"></span></a>
                <ul class="child">
                    <li class="parent">
                        <a href="#">Create account?</a>
                        <ul class="child">
                            <li><a href="/Client/ClientForm">Add Client</a></li>
                            <li><a href="/Partner/PartnerForm">Partner</a></li>
                        </ul>
                    <li>@Html.ActionLink("I am a Partner", "LoginPartner", "Login")</li>
                    <li>@Html.ActionLink("I am a Traveller", "LoginClient", "Login")</li>
                </ul>
            </li>

            <!--   ---------------------------ADMIN------------------------------------   -->

            <li class="parent">
                <a href="#">Admin<span class="expand"></span></a>
                <ul class="child">
                    <li>@Html.ActionLink("Log in Admin", "LoginAdmin", "Login")</li>
                    @*<li><a href=" /Product/PackageList">Check Products</a></li>*@
                </ul>
            </li>
            <!--   ----------------------------LOG OUT----------------------------------   -->

            <li class="parent">
                @Html.ActionLink("Logout", "Deconnection", "Login")
            </li>
            <li class="parent">
                @if (!String.IsNullOrEmpty(Context.Request.Cookies["Nickname"])) // si la valeur du cookie Nickname n'est pas vide
                {
                    <span>Hello @Context.Request.Cookies["Nickname"]</span>
                    // on affiche le message Bonjour suivi de la valeur de Cookie nickname
                }
            </li>

        </ul>

    </div>

    <!--   -------------------------------------------------------------------------   -->
    <!-- Transparent centered Search Box -->

    <div class="search-container">
        <div class="search-box">
            <form action="/Product/SearchPackage" method="get">

                <label for="destinations">Destinations</label>
                @{
                    List<Destination> destinations = new TripMeOn.BL.ProductService().GetDestinations();
                    destinations.Insert(0, new Destination { Id = 0, Country = "All Destinations" });
                    SelectList selectList = new SelectList(destinations, "Country", "Country");
                }
                @Html.DropDownList("country", selectList)

                <label for="themes">Themes</label>
                @{
                    List<Theme> themes = new TripMeOn.BL.ProductService().GetThemes();
                    themes.Insert(0, new Theme { Id = 0, Name = "All Themes" });
                    SelectList themeList = new SelectList(themes, "Id", "Name");
                }
                @Html.DropDownList("theme", themeList)

                <label for="months">Months</label>
                @{
                    List<SelectListItem> monthList = DateTimeHelper.GetMonths();
                    monthList.Insert(0, new SelectListItem { Value = "0", Text = "All Months" });
                }
                @Html.DropDownList("month", monthList)
                <button type="submit" class="btn btn-primary">Search</button>
            </form>
        </div>
    </div>

    <!--   ---------------------------- DIAPO ----------------------------------   -->

    <div class="diapo">
        <span id="baseline">The travel agency made for influencers</span>
        <div id="picLeft">
            @*<div class="boxPic">
            <div class="textBoxPic">
            link theme 1
            </div>
            </div>*@
        </div>
        <div id="picRight">
            @*<div class="boxPic">
            <div class="textBoxPic">
            link theme 2
            </div>
            </div>*@
        </div>
    </div>




    <!--   ---------------------------- TESTIMONY DIAPO----------------------------------   -->
    @*<div class="testimony">
    <h1>Ils parlent de nous</h1>
    <div id="testimony-block">
    <div class="testimony-block-arrows" id="testimony-block-left-arrow"></div>
    <div>
    J'ai essayé TripMeOn suite au témoignage d'un influenceur que je follow.
    Je dois dire que je ne suis pas décu !<br />
    Les réservations étaient parfaitement comme décrites sur le site.
    Et les panoramas... suberbes.<br />
    Merci TripMeOn, je garde de beaux souvenirs.. et de belles photos !
    </div>
    <div id="testimony-block-customer-pic"></div>
    <div id="testimony-block-right-arrow">right arrows</div>
    <div class="testimony-block-arrows" id="testimony-block-right-arrow"></div>
    </div>
    </div>
    </div>

    <div class="trait">/div>
    *@

    <!--   ----------------------------INSTA FEED----------------------------------   -->


    <div class="insta-feed">
        <h1 style="text-align:center;">#TRIPMEON</h1>

        <div id="insta-feed-container">
            <div class="insta-feed-post" id="insta-feed-post-pic1">
                <span>Description post insta 1</span>
                <div class="likes-icon"></div>
                <div class="likes">500</div>
                <div class="comments-icon"></div>
                <div class="comments">100</div>
            </div>

            <div class="insta-feed-post" id="insta-feed-post-pic2">
                <span>Description post insta 2</span>
                <div class="likes-icon"></div>
                <div class="likes">500</div>
                <div class="comments-icon"></div>
                <div class="comments">100</div>
            </div>

            <div class="insta-feed-post" id="insta-feed-post-pic3">
                <span>Description post insta 3</span>
                <div class="likes-icon"></div>
                <div class="likes">500</div>
                <div class="comments-icon"></div>
                <div class="comments">100</div>
            </div>

            <div class="insta-feed-post" id="insta-feed-post-pic4">
                <span>Description post insta 4</span>
                <div class="likes-icon"></div>
                <div class="likes">500</div>
                <div class="comments-icon"></div>
                <div class="comments">100</div>
            </div>

            <div class="insta-feed-post" id="insta-feed-post-pic5">
                <span>Description post insta 5</span>
                <div class="likes-icon"></div>
                <div class="likes">500</div>
                <div class="comments-icon"></div>
                <div class="comments">100</div>
            </div>
        </div>
    </div>

    <div class="trait"></div>

    <!--   ----------------------------PARTNERS----------------------------------   -->

    <h1 style="text-align:center">Partners</h1>
    <span style="text-align:center">Ils nous font confiance :</span>
    <div class="partnerships">
        <div id="partnerships-pic1"></div>
        <div id="partnerships-pic2"></div>
        <div id="partnerships-pic3"></div>
        <div id="partnerships-pic4"></div>
        <div id="partnerships-pic5"></div>
        <div id="partnerships-pic6"></div>
        <div id="partnerships-pic7"></div>
    </div>


    <!--   ----------------------------FOOTER----------------------------------   -->

    <footer>
        <div class="footer-buttons">
            <div><a href="/Content/InstaTips">Insta-tips</a></div>
            <div><a href="/Content/AboutUs">About Us</a></div>
            <a href="/Content/BecomePartner" class="footer-button">Become a Partner</a>
        </div>

        <div class="social-icons">
            <div><a href="https://twitter.com"><i class="fab fa-twitter"></i></a></div>
            <div><a href="https://facebook.com"><i class="fab fa-facebook"></i></a></div>
            <div><a href="https://instagram.com"><i class="fab fa-instagram"></i></a></div>
            <div><a href="https://www.tiktok.com"><i class="fab fa-tiktok"></i></a></div>
            <div><a href="https://youtube.com"><i class="fab fa-youtube"></i></a></div>
        </div>
    </footer>

    <script src="bootstrap.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate-vsdoc.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate.unobtrusive.js"></script>
</body>
</html>
