@*@using TripMeOn.ViewModels
@using TripMeOn.Models.Products;
@using TripMeOn.Helper;
@model PropositionServiceModel

@{
    ViewBag.Title = "AccomodationsList";
    Layout = "~/Views/Shargit ed/_LayoutContent.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Liste Accomodations</title>
</head>
<body>
    <div class="search-container">

        <div class="search-box">
            <form action="/Partner/SearchPackage" method="get">
                <label for="services">Services</label>
                @{
                    List<string> services = new List<string> { "Select a service", "Accomodation", "Restaurant", "Transport" };
                    SelectList serviceList = new SelectList(services);
                }
                @Html.DropDownList("serviceType", serviceList)

                <label for="destinations">Destinations</label>
                @{
                    List<Destination> destination = new TripMeOn.BL.PropositionService().GetServicesDestinations();
                    destination.Insert(0, new Destination { Id = 0, Country = "All Destinations" });
                    SelectList selectListe = new SelectList(destination, "Id", "Country");
                }
                @Html.DropDownList("destination", selectListe)
                <button type="submit" class="btn btn-primary">Search</button>
            </form>
        </div>
        @*    @if (TempData["SuccessMessage"] != null)
        {
        <div>@TempData["SuccessMessage"].ToString()</div>
        }
        <table border="1">
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Price</th>
                <th>Capacity</th>
                <th>Description</th>
                <th>Image</th>

            </tr>
            @foreach (var accomodation in Model.Accomodations)
            {
                <tr>
                    <td>@accomodation.Name</td>
                    <td>@accomodation.Type</td>
                    <td>@accomodation.Price</td>
                    <td>@accomodation.Capacity</td>
                    <td>@accomodation.Description</td>
                    <td><img src="@accomodation.Image?.Url" alt="@accomodation.Name" style="width:200px;height:200px;"></td>


                </tr>
            }
        </table>
        <style>
            table {
                border-collapse: collapse;
                width: 100%;
            }
        </style>
        <br />
        <br />
        @*    @Html.ActionLink("Back to the previous page", "ServicesPartner", "Partner")*@
        @*<a href="@Url.Action("Index", "Home")"><strong> Page d'accueil</strong></a>
</body>
</html>
*@