@model TripMeOn.ViewModels.CheckoutViewModel
@using System.Text;
@using TripMeOn.Helper

@{
    Layout = "~/Views/Shared/_LayoutContent.cshtml";
}

@section ExtraCss{
    <link rel="stylesheet" href="/css/CheckoutForm.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

    <h2>Checkout Form</h2>
    <div class="row">
        <div class="col-75">
            <div class="container">
                <form action="/Cart/CheckoutForm" method="post">
                    <div class="row">
                        <div class="col-50">
                            <h3>Billing Address</h3>
                            <label for="fname"><i class="fa fa-user"></i> Full Name</label>
                            <input type="text" id="fname" name="firstname" placeholder="John M. Doe">
                            <label for="email"><i class="fa fa-envelope"></i> Email</label>
                            <input type="text" id="email" name="email" placeholder="john@example.com">
                            <label for="adr"><i class="fa fa-address-card-o"></i> Address</label>
                            <input type="text" id="adr" name="address" placeholder="542 W. 15th Street">
                            <label for="city"><i class="fa fa-institution"></i> City</label>
                            <input type="text" id="city" name="city" placeholder="New York">
                            <div class="row">
                                <div class="col-50">
                                    <label for="state">State</label>
                                    <input type="text" id="state" name="state" placeholder="NY">
                                </div>
                                <div class="col-50">
                                    <label for="zip">Zip</label>
                                    <input type="text" id="zip" name="zip" placeholder="10001">
                                </div>
                            </div>
                        </div>

                        <div class="col-50">
                            <h3>Payment</h3>
                            <label for="fname">Accepted Cards</label>
                            <div class="icon-container">
                                <i class="fa fa-cc-visa" style="color:navy;"></i>
                                <i class="fa fa-cc-amex" style="color:blue;"></i>
                                <i class="fa fa-cc-mastercard" style="color:red;"></i>
                                <i class="fa fa-cc-discover" style="color:orange;"></i>
                            </div>
                            <label for="cname">Name on Card</label>
                            <input type="text" id="cname" name="cardname" placeholder="John More Doe">
                            <label for="ccnum">Credit card number</label>
                            <input type="text" id="ccnum" name="cardnumber" placeholder="1111-2222-3333-4444">
                            <label for="expmonth">Expiration Month</label>
                            <div class="select-container">
                                <select id="expmonth" name="expmonth">
                                    @foreach (var month in DateTimeHelper.GetMonths())
                                    {
                                        <option value="@month.Value">@month.Text</option>
                                    }
                                </select>
                            </div>
                            <div class="row">
                                <div class="col-50">
                                    <label for="expyear">Expiration Year</label>
                                    <div class="select-container">
                                        <select id="expyear" name="expyear">
                                            @foreach (var year in DateTimeHelper.GetYears())
                                            {
                                                <option value="@year.Value">@year.Text</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="col-50">
                                    <label for="cvv">CVV</label>
                                    <input type="text" id="cvv" name="cvv" placeholder="352">
                                </div>
                            </div>
                        </div>
                    </div>

                    <label>
                        <input type="checkbox" checked="checked" name="sameadr"> Shipping address same as billing
                    </label>
                    <input type="button" value="Continue to checkout" class="btn" onclick="buyProduct(@Model.TourPackageId, @Model.Quantity)">



                </form>
            </div>
        </div>

        <div class="col-25">
            <div class="container">
                <h4>Cart <span class="price" style="color:black"><i class="fa fa-shopping-cart"></i> <b>@Model.Items.Count</b></span></h4>
                <p>Client's Name: @Model.ClientName</p> <!--only retrns Id-->
                @foreach (var item in Model.Items)
                {
                    if (item.TourPackage != null)
                    {
                        <p><a href="#">@item.TourPackage.Name</a> <span class="price">$@item.TourPackage.Price</span></p>
                    }
                    if (item.Accomodation != null)
                    {
                        <p><a href="#">@item.Accomodation.Name</a> <span class="price">$@item.Accomodation.Price</span></p>
                    }
                    if (item.Restaurant != null)
                    {
                        <p><a href="#">@item.Restaurant.Name</a> <span class="price">$@item.Restaurant.Price</span></p>
                    }
                    if (item.Transportation != null)
                    {
                        <p><a href="#">@item.Transportation.Type</a> <span class="price">$@item.Transportation.Price</span></p>
                    }
                }

                <hr>
                <p>
                    Total <span class="price" style="color:black">
                        <b>
                            $@(Model.Items.Where(item => item.TourPackage != null).Sum(item => item.TourPackage.Price * item.Quantity)
                               + Model.Items.Where(item => item.Accomodation != null).Sum(item => item.Accomodation.Price * item.Quantity)
                               + Model.Items.Where(item => item.Restaurant != null).Sum(item => item.Restaurant.Price * item.Quantity)
                               + Model.Items.Where(item => item.Transportation != null).Sum(item => item.Transportation.Price * item.Quantity))
                        </b>
                    </span>
                </p>
            </div>
        </div>
    </div>

</body>
</html>

@section ExtraScript{

    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script>

        function validateFormAndSubmit() {
            var firstName = document.getElementById("fname").value;
            var email = document.getElementById("email").value;
            var address = document.getElementById("adr").value;
            var city = document.getElementById("city").value;
            var state = document.getElementById("state").value;
            var zip = document.getElementById("zip").value;
            var cardName = document.getElementById("cname").value;
            var cardNumber = document.getElementById("ccnum").value;
            var expMonth = document.getElementById("expmonth").value;
            var expYear = document.getElementById("expyear").value;
            var cvv = document.getElementById("cvv").value;

            if (
                firstName === "" ||
                email === "" ||
                address === "" ||
                city === "" ||
                state === "" ||
                zip === "" ||
                cardName === "" ||
                cardNumber === "" ||
                expMonth === "" ||
                expYear === "" ||
                cvv === ""
            ) {
                alert("Please fill in all fields before proceeding to checkout.");
            } else {

                redirectToPurchaseSuccess();
            }
        }
        function redirectToPurchaseSuccess() {
            window.location.href = "/Cart/PurchaseSuccess";
        }

        function buyProduct(tourPackageId, quantity) {
            $.ajax({
                url: '@Url.Action("BuyProduct", "Cart")',
                type: 'POST',
                data: { tourPackageId: tourPackageId, quantity: quantity },
                success: function (result) {

                    window.location.href = '@Url.Action("PurchaseSuccess", "Cart")';
                },
                error: function () {
                    //TODO:
                }
            });
        }
        function buyAccomodation(accomodationId, quantity) {
            $.ajax({
                url: '@Url.Action("BuyAccomodation", "Cart")',
                type: 'POST',
                data: { accomodationId: accomodationId, quantity: quantity },
                success: function (result) {

                    window.location.href = '@Url.Action("PurchaseSuccess", "Cart")';
                },
                error: function () {
                    //TODO:
                }
            });
        }
        function buyRestaurant(restaurantId, quantity) {
            $.ajax({
                url: '@Url.Action("BuyRestaurant", "Cart")',
                type: 'POST',
                data: { restaurantId: restaurantId, quantity: quantity },
                success: function (result) {

                    window.location.href = '@Url.Action("PurchaseSuccess", "Cart")';
                },
                error: function () {
                    //TODO:
                }
            });
        }

        function buyTransport(transportId, quantity) {
            $.ajax({
                url: '@Url.Action("BuyTransport", "Cart")',
                type: 'POST',
                data: { transportId: transportId, quantity: quantity },
                success: function (result) {

                    window.location.href = '@Url.Action("PurchaseSuccess", "Cart")';
                },
                error: function () {
                    //TODO:
                }
            });
        }

    </script>
  }


