@model TripMeOn.Models.Order.Cart
@using TripMeOn.ViewModels

@{
    Layout = "~/Views/Shared/_LayoutContent.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View Cart</title>
    <link rel="stylesheet" href="/css/ViewCart.css">
</head>
<body>

    <h3>Your Shopping Cart! Please Sign in or Sign up</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name of the item</th>
                <th>Date of Purchase</th>
                <th>From:</th>
                <th>To:</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Sub Total</th>
                <th>Remove</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
                if (item.TourPackage != null)
                {


                    <tr>
                        <td>@item.TourPackage.Id</td>
                        <td>
                            <div class="d-flex">
                                <img src="@item.TourPackage.Image?.Url" style="width: 20%;">
                                <div class="details">
                                    <p>@item.TourPackage.Name</p>
                                </div>
                            </div>
                        </td>
                        <td>@DateTime.Now</td>
                        <td>@item.StartDate</td>
                        <td>@item.EndDate</td>
                        <td>@item.TourPackage.Price</td>
                        <td>
                            <form method="post" action="/Cart/UpdateQuantity">
                                <input type="hidden" name="itemId" value="@item.Id" />
                                <select name="quantity" class="adjust-dropdown">

                                    @for (int i = 1; i <= 20; i++)
                                    {
                                        <option value="@i" @(
                                 i == item.Quantity ? "selected" : ""
                                 )>@i</option>
                                    }

                                </select>
                                <button type="submit">Adjust</button>
                            </form>
                        </td>
                        <td>
                            @(
                                item.TourPackage.Price * item.Quantity
                                )
                        </td>
                        <td>
                            <div class="remove-button">
                                @Html.ActionLink("Empty Shopping Cart", "RemoveProduct", "Cart", new { id = @item.Id }, new { @class = "btn btn-danger" })
                            </div>
                        </td>
                    </tr>
                }
                else if (item.Accomodation != null)
                {


                    <tr>
                        <td>@item.Accomodation.Id</td>
                        <td>
                            <div class="d-flex">
                                @*  <img src="@item.TourPackage.Image?.Url" style="width: 20%;">*@
                                <div class="details">
                                    <p>@item.Accomodation.Name</p>
                                </div>
                            </div>
                        </td>
                        <td>@DateTime.Now</td>
                        <td>@item.StartDate</td>
                        <td>@item.EndDate</td>
                        <td>@item.Accomodation.Price</td>
                        <td>
                            <form method="post" action="/Cart/UpdateQuantity">
                                <input type="hidden" name="itemId" value="@item.Id" />
                                <select name="quantity" class="adjust-dropdown">
                                    @for (int i = 1; i <= 20; i++)
                                    {
                                        <option value="@i" @(
                                 i == item.Quantity ? "selected" : ""
                                 )>@i</option>
                                    }
                                </select>
                                <button type="submit">Adjust</button>
                            </form>
                        </td>
                        <td>
                            @(
                                item.Accomodation.Price * item.Quantity
                                )
                        </td>
                        <td>
                            <div class="remove-button">
                                @Html.ActionLink("Empty Shopping Cart", "RemoveProduct", "Cart", new { id = @item.Id }, new { @class = "btn btn-danger" })
                            </div>
                        </td>

                    </tr>
                }
                else if (item.Restaurant != null)
                {


                    <tr>
                        <td>@item.Restaurant.Id</td>
                        <td>
                            <div class="d-flex">
                                @*  <img src="@item.TourPackage.Image?.Url" style="width: 20%;">*@
                                <div class="details">
                                    <p>@item.Restaurant.Name</p>
                                </div>
                            </div>
                        </td>
                        <td>@DateTime.Now</td>
                        <td>@item.StartDate</td>
                        <td>@item.EndDate</td>
                        <td>@item.Restaurant.Price</td>
                        <td>
                            <form method="post" action="/Cart/UpdateQuantity">
                                <input type="hidden" name="itemId" value="@item.Id" />
                                <select name="quantity" class="adjust-dropdown">
                                    @for (int i = 1; i <= 20; i++)
                                    {
                                        <option value="@i" @(
                                 i == item.Quantity ? "selected" : ""
                                 )>@i</option>
                                    }
                                </select>
                                <button type="submit">Adjust</button>
                            </form>
                        </td>
                        <td>
                            @(
                                item.Restaurant.Price * item.Quantity
                                )
                        </td>
                        <td>
                            <div class="remove-button">
                                @Html.ActionLink("Empty Shopping Cart", "RemoveProduct", "Cart", new { id = @item.Id }, new { @class = "btn btn-danger" })
                            </div>
                        </td>

                    </tr>

                }
                else if (item.Transportation != null)
                {


                    <tr>
                        <td>@item.Transportation.Id</td>
                        <td>
                            <div class="d-flex">
                                @*  <img src="@item.TourPackage.Image?.Url" style="width: 20%;">*@
                                <div class="details">
                                    <p>@item.Transportation.Type</p>
                                </div>
                            </div>
                        </td>
                        <td>@DateTime.Now</td>
                        <td>@item.StartDate</td>
                        <td>@item.EndDate</td>
                        <td>@item.Transportation.Price</td>
                        <td>
                            <form method="post" action="/Cart/UpdateQuantity">
                                <input type="hidden" name="itemId" value="@item.Id" />
                                <select name="quantity" class="adjust-dropdown">
                                    @for (int i = 1; i <= 20; i++)
                                    {
                                        <option value="@i" @(
                                 i == item.Quantity ? "selected" : ""
                                 )>@i</option>
                                    }
                                </select>
                                <button type="submit">Adjust</button>
                            </form>
                        </td>
                        <td>
                            @(
                                item.Transportation.Price * item.Quantity
                                )
                        </td>
                        <td>
                            <div class="remove-button">
                                @Html.ActionLink("Empty Shopping Cart", "RemoveProduct", "Cart", new { id = @item.Id }, new { @class = "btn btn-danger" })
                            </div>
                        </td>

                    </tr>
                }

                <tr>
                    <td align="right" colspan="7">Sum</td>
                    <td colspan="2">
                        @(Model.Items.Where(item => item.TourPackage != null).Sum(item => item.TourPackage.Price * item.Quantity)
                            + Model.Items.Where(item => item.Accomodation != null).Sum(item => item.Accomodation.Price * item.Quantity)
                            + Model.Items.Where(item => item.Restaurant != null).Sum(item => item.Restaurant.Price * item.Quantity)
                            + Model.Items.Where(item => item.Transportation != null).Sum(item => item.Transportation.Price * item.Quantity))
                    </td>
                </tr>
            }


        </tbody>
    </table>
    <div class="text-center">
        <form action="/" method="get" class="d-inline-block">
            <button type="submit" class="btn btn-primary">Continue Shopping</button>
        </form>
        <form action="/Cart/CheckoutForm?clientId=@Model.ClientId" method="get" class="d-inline-block">
            <button type="submit" class="btn btn-success">Check Out</button>
        </form>
    </div>

</body>
</html>
@section ExtraScript {
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

}
