@model TripMeOn.Models.PartnerProducts.Transportation
@{
    Layout = "_LayoutPartner";
    ViewBag.Title = "CreateTransportation";
}

@section ExtraCss{
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/PackageList.css" rel="stylesheet">
}
@using (Html.BeginForm())
{
    <fieldset>
        <legend>Add transportation service</legend>
        <table>
            <tr>
                <td>@Html.LabelFor(m => Model.Type)</td>
                <td>@Html.TextBoxFor(m => Model.Type)</td>
                <td>@Html.ValidationMessageFor(m => Model.Type)</td>
            </tr>

            <tr>
                <td>@Html.LabelFor(m => Model.Price)</td>
                <td>@Html.TextBoxFor(m => Model.Price)</td>
                <td>@Html.ValidationMessageFor(m => Model.Price)</td>
            </tr>

            <tr>

                <td>@Html.LabelFor(m => Model.Description)</td>
                <td>@Html.TextBoxFor(m => Model.Description)</td>
                <td>@Html.ValidationMessageFor(m => Model.Description)</td>
            </tr>

            <tr>
                <td class="grey">@Html.LabelFor(m => Model.Partner)</td>
                <td class="essai">@Html.DropDownListFor(m => m.PartnerId, (List<SelectListItem>)ViewBag.PartnerList, "Select a partner")</td>
                <td>@Html.ValidationMessageFor(m => Model.PartnerId)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => Model.Destination)</td>
                <td>@Html.DropDownListFor(m => m.DestinationId, (List<SelectListItem>)ViewBag.DestinationList, "Select a destination")</td>
                <td>@Html.ValidationMessageFor(m => Model.DestinationId)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => Model.StartDate)</td>
                <td>@Html.TextBoxFor(m => Model.StartDate, "{0:dd/MM/yyyy}", new { type = "date", @class = "date" })</td>
                <td>@Html.ValidationMessageFor(m => Model.StartDate)</td>
            </tr>

            <tr>
                <td>@Html.LabelFor(m => Model.EndDate)</td>
                <td>@Html.TextBoxFor(m => Model.EndDate, "{0:dd/MM/yyyy}", new { type = "date", @class = "date" })</td>
                <td>@Html.ValidationMessageFor(m => Model.EndDate)</td>
            </tr>
            <tr>
                <td><label for="file1">Photo :</label></td>
                <td>
                    <input type="file" name="file[]" id="file1">
                </td>
                <td> </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.Description)</td>
                <td>@Html.TextAreaFor(m => m.Description, new { rows = 8, cols = 50, maxlength = 1000 })</td>
                <td>@Html.ValidationMessageFor(m => m.Description)</td>
            </tr>



        </table>
        <div class="btn-container">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </fieldset>

}
<script type="text/javascript" src="~/Scripts/jquery-3.3.1.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.validate-vsdoc.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.validate.unobtrusive.js"></script>



<style>
    .essai {
        pointer-events: none;
    }

    .grey {
        color: grey;
    }
</style>
