@model TripMeOn.ViewModels.PropositionServiceModel
@{
    Layout = "_LayoutPartner";
    ViewBag.Title = "ListeRestaurants";
}
@section ExtraCss{
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/PackageList.css" rel="stylesheet">
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Liste Restaurants</title>
</head>
<body>
    @if (TempData["SuccessMessage"] != null)
    {
        <div>@TempData["SuccessMessage"].ToString()</div>
    }
    <table border="1">
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Price</th>
            <th>Partner</th>
            <th>Destination</th>
            <th>Description</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Actions</th>
            <th>Delete</th>
            <th>Put Online</th>
        </tr>
        @foreach (var restaurant in Model.Restaurants)
        {
            <tr>
                <td>@restaurant.Name</td>
                <td>@restaurant.Type</td>
                <td>@restaurant.Price</td>
                <td>@restaurant.Partner.CompanyName</td>
                <td>@restaurant.Destination.City</td>
                <td>@restaurant.Description</td>
                <td>@restaurant.StartDate</td>
                <td>@restaurant.EndDate</td>
                <td><a href="@Url.Action("ModifyRestaurant", "Partner", new { id = restaurant.Id })" class="btn btn-primary">Edit</a></td>
                <td><a href="@Url.Action("DeleteRestaurant", "Partner", new { id = restaurant.Id })" class="btn btn-danger">Delete</a></td>

                <td>
                    <form action="@Url.Action("ToggleOnlineStatusRestaurant", "Partner")" method="post">
                        <input type="hidden" name="id" value="@restaurant.Id" />
                        <input type="submit" value="@(restaurant.IsOnline ? "Put offline" : "Put online")" class="btn @(restaurant.IsOnline ? "btn-danger" : "btn-success")" />

                    </form>
                </td>
            </tr>
        }
    </table>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
    </style>
    <br />
    <br />
</body>
</html>
