@model TripMeOn.ViewModels.PropositionServiceModel
@{
    Layout = "_LayoutPartner";
    ViewBag.Title = "ListeRestaurants";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Liste Restaurants</title>
</head>
<body>
    @if (TempData["SuccessMessage"] != null)
    {
        <div>@TempData["SuccessMessage"].ToString()</div>
    }
    <table border="1">
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Price</th>
            <th>PartnerId</th>
            <th>DestinationId</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
        @foreach (var restaurant in Model.Restaurants)
        {
            <tr>
                <td>@restaurant.Name</td>
                <td>@restaurant.Type</td>
                <td>@restaurant.Price</td>
                <td>@restaurant.PartnerId</td>
                <td>@restaurant.DestinationId</td>
                <td>@restaurant.Description</td>
                <td>@Html.ActionLink("Edit","ModifyRestaurant", "Partner", new { id = restaurant.Id })</td>
                <td>@Html.ActionLink("Delete", "DeleteRestaurant", "Partner", new { id = restaurant.Id })</td>
                <td>
                    <form action="@Url.Action("ToggleOnlineStatusRestaurant", "Partner")" method="post">
                        <input type="hidden" name="id" value="@restaurant.Id" />
                        <input type="submit" value="@(restaurant.IsOnline ? "Put offline" : "Put online")" />
                    </form>
                </td>
            </tr>
        }
    </table>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
    </style>
    <br />
    <br />
    @Html.ActionLink("Back to the previous page", "ServicesPartner", "Partner")
    @*<a href="@Url.Action("Index", "Home")"><strong> Page d'accueil</strong></a>*@
</body>
</html>
