@model TripMeOn.ViewModels.PropositionServiceModel
@{
    Layout = "_LayoutPartner";
    ViewBag.Title = "ListeAccomodation";
}
@section ExtraCss{
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/PackageList.css" rel="stylesheet">
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Liste Accomodation</title>
</head>
<body>
    @if (TempData["SuccessMessage"] != null)
    {
        <div>@TempData["SuccessMessage"].ToString()</div>
    }
    <table border="1">
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Capacity</th>
            <th>Price</th>
            <th>Partner</th>
            <th>Destination</th>
            <th>Description</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Action</th>
            <th>Delete</th>
            <th>Put Online</th>
        </tr>
        @foreach (var accomodation in Model.Accomodations)
        {
            <tr>
                <td>@accomodation.Name</td>
                <td>@accomodation.Type</td>
                <td>@accomodation.Capacity</td>
                <td>@accomodation.Price</td>
                <td>@accomodation.Partner.CompanyName</td>
                <td>@accomodation.Destination.City</td>
                <td>@accomodation.Description</td>
                <td>@accomodation.StartDate</td>
                <td>@accomodation.EndDate</td>
                <td><a href="@Url.Action("ModifyAccomodation", "Partner", new { id = accomodation.Id })" class="btn btn-primary">Edit</a></td>
                <td><a href="@Url.Action("DeleteAccomodation", "Partner", new { id = accomodation.Id })" class="btn btn-danger">Delete</a></td>

                <td>
                    <form action="@Url.Action("ToggleOnlineStatusAccomodation", "Partner")" method="post">
                        <input type="hidden" name="id" value="@accomodation.Id" />
                        <input type="submit" value="@(accomodation.IsOnline ? "Put offline" : "Put online")" class="btn @(accomodation.IsOnline ? "btn-danger" : "btn-success")" />

                    </form>
                </td>
            </tr>
        }
    </table>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
    </style>
    <br />
    <br />
</body>
</html>
