@model TripMeOn.Models.PartnerProducts.Transportation
@{
    Layout = "_LayoutPartner";
    ViewBag.Title = "Transports";
}
<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Modify Accomodation</title>
</head>
<body>
    @if (TempData["SuccessMessage"] != null)
    {
        <div>@TempData["SuccessMessage"].ToString()</div>
    }
    @using (Html.BeginForm())
    {
        <fieldset>
            <legend>Modify transportation: </legend>
            @Html.LabelFor(m => Model.Type)
            @Html.TextBoxFor(m => Model.Type)
            @Html.ValidationMessageFor(m => Model.Type)
            <br />
            @Html.LabelFor(m => Model.Price)
            @Html.TextBoxFor(m => Model.Price)
            @Html.ValidationMessageFor(m => Model.Price)
            <br />
            @Html.LabelFor(m => Model.Partner)
            @Html.DropDownListFor(m => m.PartnerId, (List<SelectListItem>)ViewBag.PartnerList, "Select a partner")
            @Html.ValidationMessageFor(m => Model.PartnerId)
            <br />
            @Html.LabelFor(m => Model.Destination)
            @Html.DropDownListFor(m => m.DestinationId, (List<SelectListItem>)ViewBag.DestinationList, "Select a destination")
            @Html.ValidationMessageFor(m => Model.DestinationId)
            <br />
            <input type="submit" value="Modifier" />
        </fieldset>
    }
    <script type="text/javascript" src="~/Scripts/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate-vsdoc.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate.unobtrusive.js"></script>
</body>
</html>